<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.5.5" targetFramework="net471" />
  <package id="ManyConsole" version="1.0.0.4" targetFramework="net471" />
  <package id="Microsoft.SyndicationFeed.ReaderWriter" version="1.0.2" targetFramework="net471" />
  <package id="Mono.Options" version="5.3.0.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="ReverseMarkdown" version="1.5.0" targetFramework="net471" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net471" />
  <package id="System.Linq" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net471" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net471" />
</packages>